  <dom-module id="demo-receptor">
    <template is="dom-bind">
      <style>
        :host {
          display: block;
        }
      </style>
      <h1>Soy el receptor</h1>
      <h3>Origen: {{origenRecibido}}</h3>
      <h3>Usuario: {{usuarioRecibido}}</h3>
      <h3>Pais: {{paisRecibo}}</h3>
    </template>
  </dom-module>
  <script>
  class DemoReceptor extends Polymer.Element{
    static get is(){return 'demo-receptor';}
    static get properties(){
      return {
        origenRecibo:{
          type: String
        },
        usuarioRecibo:{
          type: String
        },
        paisRecibo:{
          type: String
        }
      };
    }
    mostrarDatosRecibidos(data){
      console.log()
      console.log("receptor: He pulsado el botón")
      this.origenRecibido = data.origen
      this.usuarioRecibido = data.usuario
      this.paisRecibo = data.pais
    }
  }
  window.customElements.define(DemoReceptor.is, DemoReceptor);
  </script>
