    <link rel="import" href="../../bower_components/polymer/polymer-element.html">
    <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="/src/colapi-polymer-app/demo-emisor.html">
    <link rel="import" href="/src/colapi-polymer-app/demo-receptor.html">
    <link rel="import" href="/src/colapi-polymer-app/login.html">
    <dom-module id="demo-padre">
      <template is="dom-bind">
        <style>
          :host {
            display: block;
          }
        </style>
        <h1>Padre</h1>
    <demo-receptor id="receptor"></demo-receptor>
    <demo-emisor id="emisor"></demo-emisor>
    <colapi-login id="emisor"></colapi-login >
      </template>
    </dom-module>
    <script>
    class DemoPadre extends Polymer.Element{
      static get is(){return 'demo-padre';}
      ready(){
        super.ready()
        this.$.emisor.addEventListener('loginok', e => {this.procesarLogin(e)})
      }
      static get properties(){
        return {

      }
      };
      procesarLogin(e){
        console.log("Padre" + e.detail);
          this.$.receptor.mostrarDatosRecibidos(e.detail)
      }
    }
    window.customElements.define(DemoPadre.is, DemoPadre);
    </script>
