<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-filter.html">

  <dom-module id="colapi-movimientos">
    <template is="dom-bind">
      <style>
        :host {
          display: block;
        }

        vaadin-grid{
          border-color:#FFFFFF;
        }

      </style>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <div class="card">
          <vaadin-grid items="[[accountsMov]]">
            <vaadin-grid-column>
              <template class="header">
                <vaadin-grid-filter aria-label="Fecha" path="fecha" value="[[_filterfecha]]">
                  <vaadin-text-field slot="filter" placeholder="fecha" value="{{_filterfecha}}" focus-target></vaadin-text-field>
                </vaadin-grid-filter>
              </template>
              <template>[[item.fecha]]</template>
            </vaadin-grid-column>

            <vaadin-grid-column>
              <template class="header">
                <vaadin-grid-filter aria-label="Valor" path="importe" value="[[_filterimporte]]">
                  <vaadin-text-field slot="filter" placeholder="Valor" value="{{_filterimporte}}" focus-target></vaadin-text-field>
                </vaadin-grid-filter>
              </template>
              <template>[[item.importe]]</template>
            </vaadin-grid-column>
        </div>

      <iron-localstorage
            name="user-accounts"
            value="{{accountsData}}"
            on-iron-localstorage-load="initStoredAccount">
      </iron-localstorage>
      <iron-localstorage
            name="user-storage"
            value="{{storedUser}}"
            on-iron-localstorage-load="initStoredUser">
      </iron-localstorage>
      <iron-ajax
        id="movAjax"
        method="get"
        url="http://localhost:3000/colapi/v1/users/{{storedUser.id}}/accounts/{{storedUser.IBAN}}/movements"
        content-type="application/json"
        handle-as="json"
        on-response="respMovimientos"
        >
      </iron-ajax>
    </template>
  </dom-module>
  <script>
  class ColapiMovimientos extends Polymer.Element{
    static get is(){return 'colapi-movimientos';}
    static get properties(){
      return {
        accountsMov: {
              type: Array
             },
        respuesta: {
                type: String
              },
        _filteriban: {
          type: String,
          value: ''
        },
        _filterbalance: {
          type: String,
          value: ''
        },
        storedUser: Object,
        accountsData:Object
      };
    }
    verMovimientos() {
      this.$.movAjax.generateRequest();
    }
    respMovimientos(event) {
      var response = event.detail.response;
      this.accountsMov = response;
    }

    initStoredAccount() {
      console.log(this.accountsData);
          this.respMovimientos();
      }
  }
  window.customElements.define(ColapiMovimientos.is, ColapiMovimientos);

  </script>
