<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-filter.html">

  <dom-module id="colapi-cuentas">
    <template is="dom-bind">
      <style>
        :host {
          display: block;
        }
        .btn-info {
           margin: 5px;
           border-color: #4b4b65 !important;
           background-color: #4b4b65 !important;
         }

         .card{
           padding: 10px;
         }

      </style>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


        <template is="dom-if" if="{{storedUser.logado}}">
          
        <div class="card">
          <vaadin-grid items="[[accountsData]]">
            <vaadin-grid-column>
              <template class="header">
                <vaadin-grid-filter aria-label="Cuenta" path="iban" value="[[_filteriban]]">
                  <vaadin-text-field slot="filter" placeholder="Cuenta" value="{{_filteriban}}" focus-target></vaadin-text-field>
                </vaadin-grid-filter>
              </template>
              <template>[[item.iban]]</template>
            </vaadin-grid-column>

            <vaadin-grid-column>
              <template class="header">
                <vaadin-grid-filter aria-label="Saldo" path="balance" value="[[_filterbalance]]">
                  <vaadin-text-field slot="filter" placeholder="Saldo" value="{{_filterbalance}}" focus-target></vaadin-text-field>
                </vaadin-grid-filter>
              </template>
              <template>[[item.balance]]</template>
            </vaadin-grid-column>
            <vaadin-grid-column>
              <template class="header">Movimientos</template>
              <template>
                <button class="btn btn-info" on-click="verMovimientos" data-iban$="[[item.iban]]"><iron-icon icon="vaadin:vaadin:database"></iron-icon> Movimientos</button>
              </template>

            </vaadin-grid-column>
        </div>
        <br/>

         <div class="card">
           <label slot="label">Movimientos Cuenta {{iban}}</label>

           <vaadin-grid items="[[accountsMov]]">
             <vaadin-grid-column>
               <template class="header">Fecha</template>
               <template>[[item.fecha]]</template>
             </vaadin-grid-column>

             <vaadin-grid-column>
               <template class="header">Valor</template>
               <template>[[item.importe]]</template>
             </vaadin-grid-column>

         </div>
   </template>
      <iron-localstorage
            name="user-storage"
            value="{{storedUser}}"
            on-iron-localstorage-load="initStoredUser">
      </iron-localstorage>
      <iron-ajax
        id="movAjax"
        method="get"
        url="http://localhost:3000/colapi/v1/users/{{storedUser.id}}/accounts/{{iban}}/movements"
        content-type="application/json"
        handle-as="json"
        on-response="respMovimientos"
        >
      </iron-ajax>
      <iron-ajax
        id="accountAjax"
        method="get"
        url="http://localhost:3000/colapi/v1/users/{{storedUser.id}}/accounts/"
        content-type="application/json"
        handle-as="json"
        on-response="respCuentas"
        >
      </iron-ajax>
    </template>
  </dom-module>
  <script>
  class ColapiCuentas extends Polymer.Element{
    static get is(){return 'colapi-cuentas';}
    static get properties(){
      return {
        accountsData: {
              type: Array
             },
        respuesta: {
                type: String
              },
        _filteriban: {
          type: String,
          value: ''
        },
        _filterbalance: {
          type: String,
          value: ''
        },
        storedUser: Object
      };

    }
    verCuentas() {
      this.$.accountAjax.generateRequest();
    }
    respCuentas(event) {
      var response = event.detail.response;
      this.accountsData = response;
    }

    initStoredUser() {
      // if entering site on theaccount page, verify if logged in and if so, preload a accounts
      console.log(this.storedUser);

      this.iban = '';
      if (this.storedUser.logado) {
          this.verCuentas();
      }
    }
    verMovimientos(e) {
      this.iban = e.target.dataset.iban;
      console.log(this.iban);
      this.$.movAjax.generateRequest();
    }
    respMovimientos(event) {
      var response = event.detail.response;
      this.accountsMov = response;
        console.log(this.accountsMov);
    }
    postLogout() {
      this.storedUser = {"logado":false};
      this.accountsData = {};
      //this.iban = '';
    }
  }
  window.customElements.define(ColapiCuentas.is, ColapiCuentas);

  </script>
