
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="colapi-icons.html">

<link rel="lazy-import" href="colapi-cuentas.html">
<link rel="lazy-import" href="colapi-view404.html">
<link rel="lazy-import" href="colapi-login.html">

<dom-module id="colapi-app">
  <template>
    <style>
      :host {
        display: block;
        --app-primary-color: #4b4b65;
        --app-secondary-color: black;
        --app-drawer-width: 200px;
        --app-grid-columns:3;
        --app-drawer-content-container: {
            background-color: #2F4F4F;
      };
}

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }


      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: #708090;
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: #F5FFFA;
        font-weight: bold;
      }
      a{
        color: white;
        padding-right: 50px;
        text-decoration: none;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
    <!--  <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <template is="dom-if" if="{{storedUser.logado}}">
            <a name="login" href="[[rootPath]]login">Login</a>
           </template>
          <a name="cuentas" href="[[rootPath]]cuentas">Cuentas</a>
          <a name="view1" href="[[rootPath]]view1">View Two</a>
          <a name="view3" href="[[rootPath]]view3">View Three</a>
        </iron-selector>
        <app-toolbar>Menu</app-toolbar>
      </app-drawer>-->

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="colapi-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>BANK :)</div>
          
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <colapi-cuentas name="cuentas"></colapi-cuentas>
          <colapi-view1 name="view1"></colapi-view1>
          <colapi-view3 name="view3"></colapi-view3>
          <colapi-login name="login"></colapi-login>
          <colapi-view404 name="view404"></colapi-view404>

        </iron-pages>

        <iron-localstorage
              name="user-storage"
              value="{{storedUser}}"
              on-iron-localstorage-load="initStoredUser">
        </iron-localstorage>


      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'colapi-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          storedUser: Object
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'login';

        // Close a non-persistent drawer when the page & route are changed.
      /*  if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }*/
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        console.log('colapi-' + page + '.html');
        const resolvedPageUrl = this.resolveUrl('colapi-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }

      postLogout() {
        localStorage.removeItem('storedUser');
      }

      initStoredUser() {
        // if entering site on theaccount page, verify if logged in and if so, preload a accounts
        console.log(this.storedUser);

      }
      postLogout() {
        this.storedUser = {};
        this.iban = '';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
