<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../bower_components/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="../../bower_components/vaadin-text-field/vaadin-text-area.html">
<link rel="import" href="shared-styles.html">



  <dom-module id="colapi-login">
    <template is="dom-bind">
      <style>
      :host {
        display: block;
      }

      paper-input {
        padding: 5px
      }

     .btn-info {
        margin: 5px;
        border-color: #4b4b65 !important;
        background-color: #4b4b65 !important;
      }
      .btn-success {
          margin: 5px;
          border-color: #4b4b65 !important;
          background-color: #4b4b65 !important;
        }
      .icon{
          fill: #616161;
      }

      .card {
        padding: 10px;
      }

      </style>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <button class="btn btn-info" on-click="postLogout">Log out</button>
      <iron-ajax
        id="registerLogoutAjax"
        method="post"
        url="http://localhost:3000/colapi/v1/logout"
        content-type="application/json"
        handle-as="json"
        on-response="respLogout"
        >
      </iron-ajax>
    </template>
  </dom-module>
  <script>
  class ColapiLogin extends Polymer.Element{
    static get is(){return 'colapi-login';}
    ready(){
      super.ready()
      if(this.logado)
      {
      this.$.cuentas.addEventListener('verCuentas', e => {this.verCuentas(e)})
      }
    }
    static get properties(){
      return {
        accountsData: {
              type: Array
             },
        email: {
              type: String
            },
        pass: {
               type: String
             },
        logado: {
                    type: Boolean,
                    value:false
                  },

        respuesta: {
                type: String
              }
      };
    }
    postLogout() {
      this.storedUser = {};
      this.iban = '';
    }

    postLogin() {
      var dataForm = {"email":this.email,"password":this.pass};
      console.log(dataForm);
      this.$.registerLoginAjax.body = dataForm;
      this.$.registerLoginAjax.generateRequest();
    }

    respLogin(event) {
      var response = event.detail.response;
      var logado = response.loginState;

      if(response.loginState)
      {
        this.respuesta = "";
        this.logado = logado;
        this.storedUser = {
              id: response.id,
              name: response.name,
              logado: response.loginState
            }
      }
      else {
        this.respuesta = response.msg;
      }

    }

    respLogout(event) {
      var response = event.detail.response;
      var logado = response.loginState;
      if(!response.loginState)
      {
        this.respuesta = "Ha cerrado la sesión " + response.name;
        this.logado = logado;
        this.email = "";
        this.pass= "";
        this.storedUser = {}
      }
      else {
        this.respuesta = response.msg;
      }
    }

    verCuentas(e){
        this.$.cuentas.verCuentas(e.detail)
    }



  }
  window.customElements.define(ColapiLogin.is, ColapiLogin);

  </script>
